import { ReactElement } from "react";
import { {{ .PluginPascalName }}Props } from "./{{ .PluginName }}-types";

export function {{ .PluginPascalName }}Component(props: {{ .PluginPascalName }}Props): ReactElement | null {
  const { queryResults, spec } = props;

  console.log("Panel data", queryResults);
  console.log("Panel spec", spec);

  // TODO: implement your awesome panel component here

  return <div>Panel goes here!</div>;
}