import type { PanelPlugin } from '@perses-dev/plugin-system';

import type { {{ .PluginPascalName }}Options, {{ .PluginPascalName }}Props } from './{{ .PluginName }}-types';
import { {{ .PluginPascalName }}Component } from './{{ .PluginPascalName }}Component';
import { {{ .PluginPascalName }}SettingsEditor } from './{{ .PluginPascalName }}SettingsEditor';

export const {{ .PluginPascalName }}: PanelPlugin<{{ .PluginPascalName }}Options, {{ .PluginPascalName }}Props> = {
  PanelComponent: {{ .PluginPascalName }}Component,
  panelOptionsEditorComponents: [{ label: 'Settings', content: {{ .PluginPascalName }}SettingsEditor }],
  supportedQueryTypes: ['TimeSeriesQuery'],
  createInitialOptions: () => ({}),
};
