version: 2
updates:
- package-ecosystem: "gomod"
  directory: "/"
  open-pull-requests-limit: 10
  schedule:
    interval: "weekly"
- package-ecosystem: "npm"
  directory: "/ui"
  open-pull-requests-limit: 10
  schedule:
    interval: "monthly"
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "weekly"
