# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
.history/*

# System Files
.DS_Store
Thumbs.db


/bin
/dist

coverage.txt

/internal/api/e2e/api/test/
/internal/api/shared/database/file/test
/pkg/client/api/v1/test/

EXTRACTED_CHANGELOG.md

cue.mod/gen

dev/local_db

.goreleaser.yaml

/.github/perses-ci/
