{{define "persesPlugin" -}}{
        "kind": "{{ .Kind }}",
        "spec": {
          "display": {
            "name": "{{ .Spec.Display.Name }}"
          },
          "name": "{{ .PluginPascalName }}"
        }
      }{{end}}