# TO RUN THIS FILE: docker-compose --file dev/docker-compose.yaml up --detach
# TO RUN WITH POSTGRES AND PROMETHEUS: docker-compose --file dev/docker-compose.yaml --profile postgres --profile prometheus up --detach
# TO RUN WITH PROMETHEUS AND TEMPO: docker-compose --file dev/docker-compose.yaml --profile prometheus --profile tempo up --detach
# TO RUN WITH LOKI: docker-compose --file dev/docker-compose.yaml --profile loki up --detach

name: 'perses-dev'
services:
  loki:
    image: grafana/loki:latest
    ports:
      - '3100:3100'
    profiles: [loki]
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./extra/loki-data:/loki

  promtail:
    image: grafana/promtail:latest
    profiles: [loki]
    volumes:
      - ./extra/promtail.yaml:/etc/promtail/config.yaml
      - ./extra/logs:/var/log/fake
    command: -config.file=/etc/promtail/config.yaml
    depends_on:
      - loki
      - log-generator

  log-generator:
    image: mingrammer/flog
    profiles: [loki]
    volumes:
      - ./extra/logs:/var/log/output
    command:
      - --loop
      - --format=json
      - --type=log
      - --number=10
      - --delay=100ms
      - --output=/var/log/output/fake.log

  mariadb:
    image: mariadb
    ports:
      - "3306:3306"
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_DATABASE: perses
      MARIADB_USER: user
      MARIADB_PASSWORD: password

  postgres:
    image: postgres:17
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: perses
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    profiles: [postgres]

  prometheus:
    image: prom/prometheus:latest
    command:
      - --config.file=/etc/prometheus.yaml
      - --web.enable-remote-write-receiver
      - --enable-feature=exemplar-storage
      - --enable-feature=native-histograms
    volumes:
      - ./extra/prometheus.yaml:/etc/prometheus.yaml
    ports:
      - '9090:9090'
    profiles: [prometheus]

  # Generate fake metrics
  avalanche:
    image: quay.io/prometheuscommunity/avalanche:latest
    command:
      - '--gauge-metric-count=5'
      - '--counter-metric-count=5'
      - '--histogram-metric-count=5'
      - '--histogram-metric-bucket-count=5'
      - '--native-histogram-metric-count=5'
      - '--summary-metric-count=5'
      - '--summary-metric-objective-count=5'
      - '--label-count=5'
      - '--series-count=100'
    ports:
      - '9001:9001'
    profiles: [avalanche]

  memcached:
    image: memcached:1.6.29
    container_name: memcached
    ports:
      - '11211:11211'
    environment:
      - MEMCACHED_MAX_MEMORY=64m # Set the maximum memory usage
      - MEMCACHED_THREADS=4 # Number of threads to use
    profiles: [tempo]

  tempo:
    image: grafana/tempo:latest
    command: ['-config.file=/etc/tempo.yaml']
    user: '10001:10001'
    volumes:
      - ./extra/tempo.yaml:/etc/tempo.yaml
      - tempo-data:/var/tempo
    ports:
      - '14268:14268' # jaeger ingest
      - '3200:3200' # tempo
      - '9095:9095' # tempo grpc
      - '4317:4317' # otlp grpc
      - '4318:4318' # otlp http
      - '9411:9411' # zipkin
    depends_on:
      - init
      - memcached
    profiles: [tempo]

  k6-tracing:
    image: ghcr.io/grafana/xk6-client-tracing:v0.0.5
    environment:
      - ENDPOINT=tempo:4317
    restart: always
    depends_on:
      - tempo
    profiles: [tempo]

volumes:
  tempo-data:
