# TO RUN THIS FILE: docker-compose --file dev/docker-compose.yaml up --detach
# TO RUN WITH PROMETHEUS AND TEMPO: docker-compose --file dev/docker-compose.yaml --profile prometheus --profile tempo up --detach

name: "perses-dev"
services:
  mariadb:
    image: mariadb
    ports:
      - '3306:3306'
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_DATABASE: perses
      MARIADB_USER: user
      MARIADB_PASSWORD: password

  prometheus:
    image: prom/prometheus:latest
    command:
      - --config.file=/etc/prometheus.yaml
      - --web.enable-remote-write-receiver
      - --enable-feature=exemplar-storage
      - --enable-feature=native-histograms
    volumes:
      - ./extra/prometheus.yaml:/etc/prometheus.yaml
    ports:
      - "9090:9090"
    profiles: [prometheus]

  # Generate fake metrics
  avalanche:
    image: quay.io/prometheuscommunity/avalanche:latest
    command:
      - "--gauge-metric-count=5"
      - "--counter-metric-count=5"
      - "--histogram-metric-count=5"
      - "--histogram-metric-bucket-count=5"
      - "--native-histogram-metric-count=5"
      - "--summary-metric-count=5"
      - "--summary-metric-objective-count=5"
      - "--label-count=5"
      - "--series-count=100"
    ports:
      - "9001:9001"
    profiles: [avalanche]

  # Tempo runs as user 10001, and docker compose creates the volume as root.
  # As such, we need to chown the volume in order for Tempo to start correctly.
  init:
    image: &tempoImage grafana/tempo:latest
    user: root
    entrypoint:
      - "chown"
      - "10001:10001"
      - "/var/tempo"
    volumes:
      - ./extra/tempo-data:/var/tempo
    profiles: [tempo]

  memcached:
    image: memcached:1.6.29
    container_name: memcached
    ports:
      - "11211:11211"
    environment:
      - MEMCACHED_MAX_MEMORY=64m  # Set the maximum memory usage
      - MEMCACHED_THREADS=4       # Number of threads to use
    profiles: [tempo]

  tempo:
    image: *tempoImage
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - ./extra/tempo.yaml:/etc/tempo.yaml
      - ./extra/tempo-data:/var/tempo
    ports:
      - "14268:14268"  # jaeger ingest
      - "3200:3200"   # tempo
      - "9095:9095" # tempo grpc
      - "4317:4317"  # otlp grpc
      - "4318:4318"  # otlp http
      - "9411:9411"   # zipkin
    depends_on:
      - init
      - memcached
    profiles: [tempo]

  k6-tracing:
    image: ghcr.io/grafana/xk6-client-tracing:v0.0.5
    environment:
      - ENDPOINT=tempo:4317
    restart: always
    depends_on:
      - tempo
    profiles: [tempo]