{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "baseUrl": ".",
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "target": "es2023",
    "transform": {
      "react": {
        "runtime": "automatic",
        "useBuiltins": true
      }
    }
  },
  "module": {
    "type": "es6",
    "resolveFully": true,
    "outFileExtension": "js"
  },
  "sourceMaps": true,
  "exclude": ["\\.(stories|test)\\."]
}
