{
  "compilerOptions": {
    "target": "es2023",
    "lib": ["dom", "dom.iterable", "es2023"],
    "module": "esnext",
    "jsx": "react-jsx",
    "moduleResolution": "bundler",
    "types": ["node", "vitest/globals"],
    "resolveJsonModule": true,
    "esModuleInterop": true,
    "verbatimModuleSyntax": true,
    "isolatedModules": true,
    "strict": true,
    "noUncheckedIndexedAccess": true,
    "forceConsistentCasingInFileNames": true,
    "skipLibCheck": true,
    "noEmit": true,
    "pretty": true
  },
  "include": ["src", "rsbuild.config.ts", "vitest.config.ts"]
}
