import { DatasourceSelector } from '@perses-dev/core';

export interface {{ .PluginPascalName }}Spec {
  query: string;
  datasource?: DatasourceSelector;
  title?: string;
  legend?: string;
  tags?: string[];
}
