{
  "kind": "{{ .PluginPascalName }}",
  "spec": {
    "legend": {
      "position": "bottom"
    },
    "thresholds": {
      "steps": [
        {
          "value": 0.6,
          "name": "Alert: Warning condition example"
        },
        {
          "value": 0.8,
          "name": "Alert: Critical condition example"
        }
      ]
    }
  }
}
