package model

import (
	"github.com/perses/perses/cue/common"
)

#legendValue: common.#calculation

#legend: {
	position: "bottom" | "right"
	mode?:    "list" | "table"
	size?:    "small" | "medium"
	values?: [...#legendValue]
}

#querySettings: [...{
	queryIndex: int & >=0
	colorMode:  "fixed" | "fixed-single"
	colorValue: =~"^#(?:[0-9a-fA-F]{3}){1,2}$" // hexadecimal color code
}]

kind: "{{ .PluginPascalName }}"
spec: close({
  legend?:        #legend
  thresholds?:    common.#thresholds
  querySettings?: #querySettings
})
