import { fetch } from '@perses-dev/core';
import { DatasourcePlugin } from '@perses-dev/plugin-system';
import { {{ .PluginPascalName }}Spec, {{ .PluginPascalName }}Client } from './{{ .PluginName }}-types';
import { {{ .PluginPascalName }}Editor } from './{{ .PluginPascalName }}Editor';

const createClient: DatasourcePlugin<{{ .PluginPascalName }}Spec, {{ .PluginPascalName }}Client>['createClient'] = (spec, options) => {
  const { directUrl, proxy } = spec;
  const { proxyUrl } = options;

  // Use the direct URL if specified, but fallback to the proxyUrl by default if not specified
  const datasourceUrl = directUrl ?? proxyUrl;
  if (datasourceUrl === undefined) {
    throw new Error('No URL specified for {{ .PluginPascalName }} client. You can use directUrl in the spec to configure it.');
  }

  const specHeaders = proxy?.spec.headers;

  return {
    options: {
      datasourceUrl,
    },
    query: async (params, headers) => {
      let url = `${datasourceUrl}/api/search`;
      if (params) {
        url += '?' + new URLSearchParams(params as Record<string, string>);
      }
      const init = {
        method: 'GET',
        headers: headers ?? specHeaders,
      };

      const response = await fetch(url, init);

      try {
        return {
          status: response.ok ? 'success' : 'error',
          data: await response.json()
        };
      } catch (e) {
        console.error('Invalid response from server', e);
        throw new Error('Invalid response from server');
      }
    },
  };
};

export const {{ .PluginPascalName }}Datasource: DatasourcePlugin<{{ .PluginPascalName }}Spec, {{ .PluginPascalName }}Client> = {
  createClient,
  OptionsEditorComponent: {{ .PluginPascalName }}Editor,
  createInitialOptions: () => ({ directUrl: '' }),
};