import { TimeSeriesQueryPlugin, parseVariables } from '@perses-dev/plugin-system';
import { getTimeSeriesData } from './get-time-series-data';
import { {{ .PluginPascalName }}Editor } from './{{ .PluginPascalName }}Editor';
import { {{ .PluginPascalName }}Spec } from './{{ .PluginName }}-types';

export const {{ .PluginPascalName }}: TimeSeriesQueryPlugin<{{ .PluginPascalName }}Spec> = {
  getTimeSeriesData,
  OptionsEditorComponent: {{ .PluginPascalName }}Editor,
  createInitialOptions: () => ({ query: '' }),
  dependsOn: (spec) => {
    const queryVariables = parseVariables(spec.query);
    const allVariables = [...new Set([...queryVariables])];
    return {
      variables: allVariables,
    };
  },
};
