.super-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page-content-container {
  flex-grow: 1;
  width: 100%;
}

@media only screen and (min-width: 1200px) {
  .page-content-container{
    max-width: 75%;
  }
}

@media only screen and (max-width: 1200px) {
  .page-content-container{
    max-width: 100%;
  }
}

.mat-expansion-panel {
  background-color: inherit;
}

.expansion-panel-header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.line {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
}
