name: go
on:
  push:
    branches:
      - main
      - release/*
      - snapshot/*
    tags:
      - v*
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' || github.ref_name != 'main' }}

jobs:
  checklicense:
    name: "check license headers"
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - name: check license headers
        run: make checklicense
  docs-fmt:
    name: "check doc format"
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - uses: ./.github/actions/setup_environment
        with:
          enable_go: true
      - name: install mdox
        run: go install github.com/bwplotka/mdox@latest
      - name: check docs
        run: make checkdocs

  gofmt:
    name: "check code format"
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - uses: ./.github/actions/setup_environment
        with:
          enable_go: true
      - name: install cue
        run: go install cuelang.org/go/cmd/cue@v0.4.2
      - name: check format
        run: make checkformat
      - name: check go.mod
        run: make checkunused
  test:
    name: "tests with file DB"
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - uses: ./.github/actions/setup_environment
        with:
          enable_go: true
      - name: test
        run: make integration-test
  test-mysql:
    name: "tests with mysql"
    runs-on: ubuntu-latest
    services:
      mariadb:
        image: mariadb
        ports:
          - '3306:3306'
        env:
          MARIADB_ROOT_PASSWORD: root
          MARIADB_DATABASE: perses
          MARIADB_USER: user
          MARIADB_PASSWORD: password
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - uses: ./.github/actions/setup_environment
        with:
          enable_go: true
      - name: test
        run: make mysql-integration-test
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - uses: ./.github/actions/setup_environment
        with:
          enable_go: true
          enable_npm: false
      - name: generate files
        run: make generate
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3.5.0
        with:
          # Required: the version of golangci-lint is required and must be specified without patch version: we always use the latest patch version.
          version: v1.51.2
          args: --timeout 5m
  cue-eval:
    name: cue
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
      - uses: ./.github/actions/setup_environment
        with:
          enable_go: true
      - name: install cue
        run: go install cuelang.org/go/cmd/cue@latest
      - name: eval cue schema
        run: make cue-eval
      - name: test cue schema
        run: make cue-test
