.project-container {
  position: absolute;
  top: 64px; // the size of the toolbar
  bottom: 0;
  left: 0;
  right: 0;
}

.project-sidenav-content {
  margin-left: 2rem;
  margin-right: 1rem;
  margin-top: 2rem;
}
